Checks: '-*,bugprone-*,clang-analyzer-*,performance-*,modernize-*'
WarningsAsErrors: ''
HeaderFilterRegex: '^(include/tincup/|tests/|examples/|build_systems/)'
AnalyzeTemporaryDtors: false
FormatStyle: none
