# Vim temporary files
*.swp
*.swo

# Build directories
build
local_ci_build/

# Python Bytecode
*.pyc
__pycache__

# Python Distribution / Packaging
dist/
build/
*.egg-info
cpo_tools.egg-info/*
test_pypi_env/
