// ADL-visible tag_invoke shim for forwarding to tincup::cpo_impl

/**
 * @brief ADL-visible shim that forwards {{ cpo_name }} calls on {{ target_type }}
 *        to the corresponding tincup::cpo_impl specialization.
 * @cpo_adl_shim
 * @ingroup tincup_cpo_integrations
 * [TODO: Describe forwarding behavior and constraints]
 *
 * @tparam Args Pack of forwarded argument types
 * @param target Reference to the target object being customized
 */

{% if shim_namespace %}namespace {{ shim_namespace }} {
{% endif %}
{% if tmpl_params %}{{ tmpl_params }}
{% endif %}
template<typename... Args>
constexpr auto tag_invoke({{ cpo_name }}_ftor,
                          {{ target_type }}& target,
                          Args&&... args)
  noexcept(noexcept(tincup::cpo_impl<{{ cpo_name }}_ftor, {{ target_type }}>
                      ::call(target, std::forward<Args>(args)...)))
  -> decltype(tincup::cpo_impl<{{ cpo_name }}_ftor, {{ target_type }}>
                ::call(target, std::forward<Args>(args)...))
{
  return tincup::cpo_impl<{{ cpo_name }}_ftor, {{ target_type }}>
           ::call(target, std::forward<Args>(args)...);
}
{% if shim_namespace %}
} // namespace {{ shim_namespace }}
{% endif %}
